*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
.clear {
    clear: both;
}
.clear-left {
    clear:left;
} 
.text-white {
    color: #fff; !important;
}
.row {
    margin-left: -8px;
    margin-right: -8px;
}
.row::after {
    content:"";
    display: block;
    clear:both;
}
.mt-8 {
    margin-top: 8px !important;
}
.mt-16 {
    margin-top: 16px !important;
}
.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-half {
    width: 50%;
}
.col-ful {
    width: 100%;
}


#nav {
    display: inline-block;
}
#nav .subnav {
    list-style-type: none;
}
#nav > li{
    display: inline-block;
}
#nav li {
    position: relative;
}
#nav >li >a{
    color:#fff;
    text-transform: uppercase;
}
#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}
#nav li:hover .subnav{ 
    display: block;
}
#nav >li:hover> a,
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}
#nav .subnav {
    display: none; 
    position:absolute;  
    background-color: #fff; 
    box-shadow: 0 0 11px rgba(0, 0 ,0, 0.3);
}
#nav .subnav a{
    color:#000;
    padding: 0 12px;
    line-height: 38px;
    min-width: 160px;
}
#nav .nav-arrow-down{
    font-size: 13px;    
}
#header {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #00adad;
    z-index: 1;
    overflow: hidden;
}
#header .mobile-menu-btn {
    position: absolute;
    top:0;
    right: 0;
    display: none;
}
#header .mobile-menu-btn,
#header .search-btn {
    float: right;
    padding: 0 21px;
}
#header .mobile-menu-btn:hover{
    background-color:#ccc;    
}
#header .mobile-menu-btn:hover .menu-icon{
    color: #000;
}
#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}
#header .menu-icon,
#header .search-icon{
    color:#fff;
    font-size: 18px;
    line-height: 46px;
}
.slider-amina{
    width: 60%;
    margin:0 auto;
    overflow: hidden;  
    padding-top: 40px;  
}
.slider-imgs{
    display: flex;
}
.slider-imgs img{
    width: 100%;
}
.slider-imgs input{
    display: none;
}
.labelslider{
    display: flex;
    justify-content: center;
}
.labelslider label{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid #00adad;
    margin: 2px;
}
.labelslider label:hover{
    background: #00adad;
}
#img:checked ~.imgslider{
    margin-left: -100%;
}
#img1:checked ~.imgslider1{
    margin-left: -200%;
}
#img3:checked ~.imgslider3{
    margin-left: -200%;
}
/*@keyframes move_right{
    0%{
        left:0px;
    }
    100%{
        left:500px;
    }
}
#slider .animat{
    transition: margin-left 2s 0.5s ease-in-out;
  -moz-transition: margin-left 2s 0.5s ease-in-out;
  -webkit-transition: margin-left 2s 0.5s ease-in-out;
}
#slider .animat:hover {
    margin-left: 150px;
}*/
#slider .text-content {
    position: absolute;
    color:#fff;
    bottom: 20px;
    width: 100%;
    text-align:right;
    right:12px;
}
#slider .text-heading { 
    font-weight: 700;
    font-size: 26px;
    text-shadow: 1px 1px 2px black;
}
#slider .text-descrip {
    font-size: 17px;
    margin-top: 6px;
    text-shadow: 1px 1px 2px black;
}


#content .content-section {
        width: 800px;
        max-width: 100%;
        padding: 64px 0;
        margin-right: auto;
        margin-left: auto;
        padding-left: 16px;
        padding-right: 16px;
}
#content .section-head {
    font-size: 30px;
    font-weight: 500;   
    text-align: center; 
    letter-spacing: 4px;
}
#content .section-sub-head { 
    font-size: 15px;
    margin-top: 25px;
    text-align: center; 
    font-style: italic; 
    opacity: 0.6;
}
#content .about-text {
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
}
#content .members-list { 
    margin-top: 48px;
}
#content .member-item {
    float:left ;
    width: 33.3333333%;
    text-align: center;
}
#content .member-name {
    font-size: 15px;
}
#content .member-img {
    width: 230px;
    margin-top: 15px;
    border-radius: 4px;
    height: 153px;
}


.tour-section {
    background-color: #00adad;
}
.tickets-list{
    background-color: #fff;
    list-style: none;
    margin-top: 40px;
}
.tickets-list li{
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}
.tickets-list .sold-out{
    background-color: #f44336;
    color:#fff;
    padding: 3px 4px;
    margin-left: 16px;
}
.tickets-list .quantity{
    float: right;   
    background-color: #00adad;
    color: #fff;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}
.place-list{ 
    margin: 16px -8px 48px;
}
.place-item{
    float:left;
    width: 33.3333333%; 
    padding: 8px;
}
.place-image {
    width: 100%;
    display: block;    
}
.place-image:hover{ 
    opacity: 0.6;
}
.place-body{ 
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}
.place-head{ 
    font-size: 15px;
    font-weight: 550;
}
.place-buy{ 
    color:#fff;
    background-color: #00adad;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    text-align: center;
}
.place-buy:hover {
    color:#000;
    background-color: #ccc;
}

.contact-content {
    margin-top: 48px;
}
.contact-infor {
    font-size: 18px;
    line-height: 1.5;
}
.contact-infor i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}
.contact-form {
    font-size: 15px;
}
.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
.contact-form .form-submit {
    background-color: #00adad;
    color:#fff;
    border: 0px solid #000;
    padding: 10px 16px;
    float:right;
}
.contact-form .form-submit:hover {
    opacity: 0.6;
    cursor: pointer;
}

.map-section img {
    width: 100%;   
}


#footer {
    padding: 64px 16px;
    text-align: center;
}
#footer .social {
    font-size: 24px ;
}
#footer .copyright {
    margin-top: 15px;
    color: rgba(0, 0 ,0, 0.8)
}

